<div>

    <div class="container table-sm mt-4 p-2">
        <h5 class="text-primary font-weight-bolder underline">PRODUCT - LIST</h5>

        <table class="table table-hover" style="font-size: 10px;">
            <thead>
              <tr class="text-primary">
                <th scope="col">#</th>
                <th scope="col">P-ID</th>
                <th scope="col">PRODUCT</th>
                <th scope="col">MANU-PRICE</th>
                <th scope="col">MRP</th>
                <th scope="col">QUANTITY</th>
                <th scope="col">SELL-P</th>
                <th scope="col">DISCOUNT</th>
                <th scope="col">STATUS</th>
                <th scope="col">UPDATE</th>
                <th scope="col">DELETE</th>
    
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of productList; let i = index">
                <th scope="row">{{i}}</th>
                <td>{{item.productId}}</td>
                <td>{{item.productName}}</td>
                <td>{{item.manufacturingPrice}}</td>
                <td>{{item.mrpPrice}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.sellPrice}}</td>
                <td>{{item.discountAvailable}}</td>

                <div class="form-group">
                  <mat-slide-toggle name="isEnabled" [(ngModel)]="item.enabled">
                  </mat-slide-toggle>
                </div>

                <td>
                    <a [routerLink]="'/dashboard/updateProduct/'+item.productId" routerLinkActive="active">
                          <i class="fa fa-pencil-square-o text-primary cursor-pointer text-decoration-none" style="font-size:16px"></i>
                    </a>
                  </td>

                  <td scope="col">
                    <i  (click)="removeProduct(item.productId)"  class="fa fa-trash-o text-danger cursor-pointer"></i>
                </td>
    
              </tr>
              <tr>
                
            </tbody>
          </table>
    
    
    </div>

</div>