<div>

    <div class="container table-sm mt-4 p-2">
        <h5 class="text-primary font-weight-bolder underline">PRODUCT - LIST</h5>

        <table class="table table-hover" style="font-size: 10px;">
            <thead>
              <tr class="text-primary text-center">
                <th scope="col">#</th>
                <th scope="col">P-ID</th>
                <th scope="col">MAIN_THUMB</th>
                <th scope="col">COLOR</th>
                <!-- <th scope="col">PRODUCT_THUMB</th> -->
                <th scope="col">PRODUCT</th>
                <th scope="col">MAIN_PRICE</th>
                <th scope="col">MRP</th>
                <th scope="col">QUANTITY</th>
                <th scope="col">SELL-P</th>
                <th scope="col">DISCOUNT</th>
                <th scope="col">STATUS</th>
                <th scope="col">UP-PRODUCT_SIZE</th>
                <th scope="col">UPDATE</th>
                <th scope="col">DELETE</th>
    
              </tr>
            </thead>
            <tbody>
              <tr class="text-center" *ngFor="let item of productList; let i = index">
                <th scope="row">{{i}}</th>
                <td>{{item.productId}}</td>

                <td>
                  <div *ngIf="item.thumbnailUrl != null ">
                    <div class="card-body" style="max-width: 110px;">
                      <img 
                        class="card-img-top" 
                        src="{{item.thumbnailUrl}}" 
                        alt="Card image cap">
                    </div>
                  
              </div>
            </td>

                <!-- <td>
                    <div  *ngFor="let file of item.productFileUrls" class="card-body " style="max-width: 110px;">

                      <div *ngIf="file.imageThumbnail === 'YES'">
                        <img 
                            class="card-img-top" 
                            src="{{file.fileUrl}}" 
                            alt="Card image cap">
                        </div>
                    </div>
                </td> -->
                <td>
                  <i class="fa fa-circle fa-2x"  [ngStyle]="{ color: item.color }">
                  </i>
                 </td>

                <td>{{item.productName}}</td>
                <td>{{item.manufacturingPrice}}</td>
                <td>{{item.mrpPrice}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.sellPrice}}</td>
                <td>{{item.discountAvailable}}</td>

                <div class="form-group">
                  <mat-slide-toggle name="isEnabled" [(ngModel)]="item.enabled">
                  </mat-slide-toggle>
                </div>

                <td class="text-center">
                  <a class="acColor" [routerLink]="'/dashboard/updateProductSizeComponent/'+item.productId" routerLinkActive="active">
                    <i class="fa fa-pencil-square-o cursor-pointer text-decoration-none" style="font-size:16px"></i>
                </a>
                </td>

                <td class="text-center">
                    <a [routerLink]="'/dashboard/updateProduct/'+item.productId" routerLinkActive="active">
                          <i class="fa fa-pencil-square-o text-primary cursor-pointer text-decoration-none" style="font-size:16px"></i>
                    </a>
                  </td>

                  <td scope="col text-center">
                    <i  (click)="removeProduct(item.productId)"  class="fa fa-trash-o text-danger cursor-pointer fontSize16"></i>
                </td>
    
              </tr>
              <tr>
                
            </tbody>
          </table>
    
    
    </div>

</div>