<h3 class="text-center text-primary mt-4 mb-2">BANNER DATA</h3>
<hr>

<div class="container">

    <!-- STARTING TABLE -->

    <table class="table table-sm table-striped" >
        <thead>
          <tr >
            <th scope="col">Sn</th>
            <th scope="col">B-id</th>
            <th scope="col">B-Name</th>
            <th scope="col">D-B-Name</th>
            <th scope="col">Desc</th>
            <th scope="col">S-Desc</th>
            <th scope="col">L-Desc</th>
            <th scope="col">File-Url</th>
            <th scope="col">image</th>
            <th scope="col">delete</th>
            <th scope="col">update</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let node of bannerData; let i = index">
            <th scope="row">{{i}}</th>
            <td>{{node.bannerId}}</td>
            <td>{{node.bannerName}}</td>
            <td>{{node.defaultName}}</td>
            <td>{{node.description}}</td>
            <td>{{node.longDescription}}</td>
            <td>{{node.shortDescription}}</td>
            <td>{{node.fileUrl}}</td>

            <td>
                <img src="{{node.fileUrl}}" alt="" class="rounded-circle" height="30" width="30">
            </td>

            <td>
               <div class="text-center">
                <button (click)="deleteBannerById(node.bannerId)" mat-raised-button color="warn">
                    <i class="fa fa-trash"  style="font-size:14px"> delete</i>
                </button>
               </div>
            </td>
           
            <td>
                <div>
                 <a routerLink="/dashboard/uploadBannerFile/{{node.bannerId}}" class="text-primary" >
                    <i  class="fa fa-pencil-square" style="font-size:24px"></i>
                 </a>
                </div>
             </td>
          </tr>
          
        </tbody>
      </table>

    <!-- ENDING TABLE -->

</div>