<div class="pB"  *ngIf="progressBar.dynamicValue" >
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
   </div>
  <div  style="background-color: whitesmoke;">
  <div class="container p-5 shadow-lg">
  <h5 class="text-primary font-weight-bold">UPDATE PRODUCT</h5>
  
  <!-- FORM SATRTING -->
  <div >
     
      <form (ngSubmit)="updateProduct()" >
  
          <div class="form-row">
              <div class="form-group col-md-12">
                  <label>Product Name</label>
                  <input  type="text" 
                         
                          [(ngModel)]="productData.productName" name="productName"
                          class="form-control"
                          placeholder="Product Name">
               </div>
          </div>
  
        
          <div class="form-row">
  
            <div class="col-sm-4 my-1">
              <label>Manufacturing-Price</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-rupee"></i>
                  </div>
                </div>
                <input type="text"
                 class="form-control"
                 [(ngModel)]="productData.manufacturingPrice" name="manufacturingPrice"
                 id="inlineFormInputGroupUsername"
                 placeholder="Manufacturing-Price">
              </div>
            </div>
  
  
            <div class="col-sm-4 my-1">
              <label>MRP-Price</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-rupee"></i>
                  </div>
                </div>
                <input type="text"
                 class="form-control"
                 [(ngModel)]="productData.mrpPrice" name="mrpPrice"
                 id="inlineFormInputGroupUsername"
                 placeholder="MRP-Price">
              </div>
            </div>
  
            <div class="col-sm-4 my-1">
              <label>SELL-Price</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-rupee"></i>
                  </div>
                </div>
                <input type="text"
                 class="form-control"
                 [(ngModel)]="productData.sellPrice" name="sellPrice"
                 id="inlineFormInputGroupUsername"
                 placeholder="SELL-Price">
              </div>
            </div>
  
          </div>
  
  
          <div class="my-1 mt-3 mb-4">
            <label>Quantity</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-database"></i>
                </div>
              </div>
              <input type="text"
               class="form-control"
               [(ngModel)]="productData.quantity" name="quantity"
               id="inlineFormInputGroupUsername"
               placeholder="Quantity">
            </div>
          </div>
  
  
          <div class="form-row">
            <div class="col-sm-8 my-1 mt-3 mb-4">
              <label>FINAL-CATEGORY</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-database"></i>
                  </div>
                </div>
    
                <select name="finalCategoryId"  [(ngModel)]="selectedFinalCategoryId" class="custom-select" id="inlineFormCustomSelectPref">
                  <option selected disabled>Choose...</option>
                  <option *ngFor="let item of finalCategoryList"
                          [ngValue]="item.productFinalCategoryId">

                          <div>
                            {{item.productFinalCategoryId}} = {{item.finalCategoryName}} 
                            [SUB=>]{{item.productSubCategoryForm.subCategoryName}}
                            [ROOT=>]{{item.productSubCategoryForm.productRootCategoryForm.rootCategoryName}}
                          </div>

                          <div *ngIf="item.finalCategoryName === productData.productFinalCategoryForm.finalCategoryName">
                            <option selected>[SELECTED] </option>
                          </div>
      
                  </option>
                </select>
    
              </div>
            </div>
            
           </div>

         <div class="form-group">
          <mat-slide-toggle name="isEnabled" [(ngModel)]="productData.enabled">
          </mat-slide-toggle>
        </div>
  
         <div class="container mb-3" id="pd-100">
          <h5 class="p-4 text-primary">Product Description</h5>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea 
            [(ngModel)]="productData.description" name="description"
            class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
          </div>
          
          <div class="form-group">
            <label for="exampleFormControlTextarea1">SHORT-Description</label>
            <textarea 
            [(ngModel)]="productData.shortDescription" name="shortDescription"
            class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
          </div>
  
          <div class="form-group">
            <label for="exampleFormControlTextarea1">LONG-Description</label>
            <textarea 
            [(ngModel)]="productData.longDescription" name="longDescription"
            class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
          </div>
         </div>
  
  
         <div class="container mb-3" id="pd-100">
          <h5 class="p-4 text-primary">Product Details</h5>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">product Details</label>
            <textarea 
            [(ngModel)]="productData.productDetails" name="productDetails"
            class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
          </div>
          
          <div class="form-group">`
            <label for="exampleFormControlTextarea1">Product-Long-Details</label>
            <textarea 
            [(ngModel)]="productData.productLongDetails" name="productLongDetails"
            class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
          </div>
  
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Product-Short-Details</label>
            <textarea 
            [(ngModel)]="productData.productShortDetails" name="productShortDetails"
            class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
          </div>
         </div>

            <div   class="row">
              <div  *ngFor="let file of productData.productFileUrls" class="col-sm-2 card-body " style="max-width: 150px;">
                  <img 
                      class="card-img-top" 
                      src="{{file.fileUrl}}" 
                      alt="Card image cap">
              </div>
            </div>
  
         <div class="text-center mt-3">
            <button mat-raised-button color="accent">Update Product</button>
           </div>
    
         
        </form>
  
  </div>
  <!-- FORM ENDING -->
  
  </div>
  </div>