<div class="pB"  *ngIf="progressBar.dynamicValue" >
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
 </div>

<div class="container">

    <h1 class="text-center text-primary mt-4 mb-3">BANNER</h1>
    <hr>
  
  
    <div class="row mt-3">

        <!-- STARTING -->
        <div class="col-md-5">col-sm-6</div>
        <!-- ENDING -->


        <!-- STARTING  -->
        <div class="col-md-7">

            <form  (ngSubmit)="createBanner()" >
                <div class="form-row">

                  <div class="col-6">
                    <label class="text-primary" >Banner Name</label>
                    <input type="text"
                     class="form-control"
                     [(ngModel)]="bannerForm.bannerName" name="bannerName"
                      placeholder="banner name">
                  </div>

                  <div class="col">
                    <label class="text-primary" >Default Name</label>
                    <input type="text"
                     class="form-control"
                     [(ngModel)]="bannerForm.defaultName" name="defaultName"
                      placeholder="default name">
                  </div>
                  
                </div>

                <div class="form-group mt-3">
                  <label class="text-primary" >Description</label>
                  <textarea class="form-control" 
                  placeholder="description" 
                  [(ngModel)]="bannerForm.description" name="description"
                  rows="2"></textarea>
                </div>

                <div class="form-group mt-3">
                    <label class="text-primary" >Short Description</label>
                    <textarea class="form-control" 
                    placeholder="short description" 
                    [(ngModel)]="bannerForm.shortDescription" name="shortDescription"
                    rows="3"></textarea>
                  </div>

                  <div class="form-group mt-3">
                    <label class="text-primary" >Long Description</label>
                    <textarea class="form-control" 
                     placeholder="Long description"
                     [(ngModel)]="bannerForm.longDescription" name="longDescription"
                      rows="3"></textarea>
                  </div>

                  <div class="text-center">
                    <button mat-raised-button color="accent">CREATE BANNER</button>
                   </div>


              </form>   


        </div>
         <!-- ENDING     -->

    </div>


</div>
