
<div class="container mt-4 shadow-sm p-3">
  <h5 class="text-dark">SUB CATEGORY LIST</h5>
    <table class="table table-sm table-hover table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">File</th>
            <th scope="col">cat-Name</th>
            <th scope="col">desc</th>
            <th scope="col">short-desc</th>
            <th scope="col">long-desc</th>
            <th scope="col">status</th>
           
            <th scope="col">update</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let subData of subCategoryData; let i = index" >
            <th scope="row">{{i}}</th>

            <td>
              <div  *ngIf="subData.imageUrl != null ">
                <img src="{{subData.imageUrl}}"  alt="File" height="50">
              </div>
            </td>
            
            <td>{{subData.subCategoryName}}</td>
            <td>{{subData.description}}</td>
            <td>{{subData.shortDescription}}</td>
            <td>{{subData.longDescription}}</td>

            <mat-slide-toggle  [(ngModel)]="subData.subCategoryStatus">
            </mat-slide-toggle>

            <td>
            <a [routerLink]="'/dashboard/updateSubCategory/'+subData.productSubCategoryId" routerLinkActive="active">
                  <i class="fa fa-pencil-square-o text-primary cursor-pointer text-decoration-none" style="font-size:16px"></i>
            </a>
          </td>


          </tr>
         
        </tbody>
      </table>

</div>