<div class="pB"  *ngIf="progressBar.dynamicValue" >
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
   </div>

    <div class="container card text-center mt-2" style="max-width: 450px;">
        <div class="card-body">
            <label class="text-primary" >UPLOAD BANNER FILES</label>

            <div class="p-2 mt-1">
    
                <form  >
                    <div class="form-group">
                      <input multiple (change)="selectEvent($event) "type="file" class="form-control-file" id="exampleFormControlFile1">
                      <button (click)="uploadBannerFile()" mat-raised-button color="primary">Primary</button>
                    </div>
                  </form>
            
            </div>
        </div>
        </div>
