<div class="pB"  *ngIf="progressBar.dynamicValue" >
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
   </div>
  
  <div class="container p-2 text-center mt-4 shadow-lg">
  
      <table class="table table-light table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">cat-id</th>
              <th scope="col">cat-Name</th>
              <th scope="col">status</th>
              <th scope="col">image-URL</th>
              <th scope="col">video-URL</th>
              <th scope="col">upload-image</th>
  
             
            </tr>
          </thead>
          <tbody >
            <tr  *ngFor="let data of subCategoryData; let i = index">

              <th scope="row">{{data.productSubCategoryId}}</th>

              <td>{{data.subCategoryName}}</td>
              
              <mat-slide-toggle  [(ngModel)]="data.subCategoryStatus">
              </mat-slide-toggle>

    
              <td>NULL OBJ</td>
              <td>NULL OBJ</td>
              <!-- <td *ngIf="data.imageUrl==''">NULL OBJ</td> -->
              
              <!-- <td *ngIf="!data.imageUrl==''">{{data.imageUrl}}</td> -->
              <!-- <td *ngIf="data.videoUrl==''">NULL OBJ</td> -->
              <!-- <td *ngIf="!data.videoUrl==''">{{data.videoUrl}}</td> -->

              <td>
                <a [routerLink]="'/dashboard/uploadFormSubCategoryFiles/'+data.productSubCategoryId" routerLinkActive="active">
                      <i class="fa fa-pencil-square-o text-primary cursor-pointer text-decoration-none" style="font-size:16px"></i>
                </a>
              </td>
              
            </tr>
          </tbody>
        </table>
  
  </div>