<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">ShopFlux</a>
  
 
    <ul class="navbar-nav ml-auto" *ngIf="!tokenStorageService.isLoggedIn()" >
     
      <li class="nav-item"  >
        <a href class="nav-link" routerLink="/login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto"  *ngIf="tokenStorageService.isLoggedIn()" >
     
      <li class="nav-item" >
        <a href class="nav-link" (click)="logout()">logout</a>
      </li>
    </ul>
  </nav>

  
    
  
</div>
<router-outlet></router-outlet>