<div class="pB"  *ngIf="progressBar.dynamicValue" >
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
   </div>

    <div class="container card text-center mt-2" style="max-width: 450px;">
        <div class="card-body">
            <label class="text-primary" >PRODUCT FILES</label>

            <div class="p-2 mt-1">
    
                <form  >
                    <div class="form-group">
                      <input multiple (change)="selectEvent($event) "type="file" class="form-control-file" id="exampleFormControlFile1">
                      <button (click)="uploadProductFiles('PRODUCT')" mat-raised-button color="primary">Primary</button>
                    </div>
                  </form>
            
            </div>
        </div>
        </div>

        <div class="container mt-4">

            <div class="row">
    
              <!-- First Six STARTING column -->
              <div class="col-md-6">
    
                <h5 class="text-primary font-weight-bold">BIND IMAGE WITH PRODUCT</h5>
    
                  <div class="card-columns" >
    
                    <div *ngFor="let node of filterData; let i = index">
                      <div *ngIf="node.imageType == 'image/jpeg' ">
                         <div class="card"  class="card" style="max-width:12rem ;">
                          
                          <a href="#">
                            <img class="card-img-top" src="{{node.fileUrl}}" alt="Card image cap">
                          </a>
    
                          
    
                      <div class="card-body p-2">
                         <div class="row mr-2">
                            <div class="col-sm-4">
                              <a  class="nav-link cursor-pointer"  (click)="deleteFileByBucketId(node.bucketId)" >
                                <i  class="fa fa-trash-o text-danger" style="font-size:20px"></i>
                              </a>
                            </div>
                            <div class="col-sm-4">
                              <a class="nav-link cursor-pointer"  (click)="bindFileWithProductImageUrl(node.bucketId)">
                                <i class="fa fa-link text-primary" style="font-size:20px"></i>
                              </a>
                            </div>
                            <div class="col-sm-4">
                              <a class="nav-link cursor-pointer"  (click)="setThumbNail(node.bucketId)">
                                <i class="	fa fa-file-photo-o text-danger" style="font-size:20px"></i>
                              </a>
                            </div>
                         </div>
                        </div>
    
                        </div>
                       </div>
                     </div>
    
                  </div>
                </div>
               <!--//////// First Six ENDING column -->
    
    
    
    
                <!-- LAST Six Starting column -->
              <div class="col-md-6">
    
                <h5 class="text-primary font-weight-bold">BIND VIDEO WITH ROOT</h5>
    
                <div class="row">
    
                  <div *ngFor="let node of filterData; let i = index" >
                    <div *ngIf="node.imageType == 'video/mp4' ">
                      
                    <div class="col-sm-4 p-1" >
                      <div class="card" style="width: 11rem;" >
    
                        <video class="" height="120" width="176" controls>
                          <source src="{{node.fileUrl}}" type="video/mp4">
                        </video>
      
                        <div class="card-body">
                          <div class="row mr-2">
                            <div class="col-sm-4">
                              <a  class="nav-link cursor-pointer"  (click)="deleteFileByBucketId(node.bucketId)" >
                                <i  class="fa fa-trash-o text-danger" style="font-size:20px"></i>
                              </a>
                            </div>
                            <div class="col-sm-4">
                              <a class="nav-link cursor-pointer" (click)="bindFileWithRootCategoryVideoUrl(node.bucketId)">
                                <i class="fa fa-link text-primary" style="font-size:20px"></i>
                              </a>
                            </div>
                            <div class="col-sm-4">
                              <a class="nav-link cursor-pointer"  (click)="setThumbNail(node.bucketId)">
                                <i class="	fa fa-file-photo-o text-danger" style="font-size:20px"></i>
                              </a>
                            </div>
                         </div>
                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
    
                </div>
    
               
    
              </div>
                <!-- LAST Six ENDING column -->
    
            </div>
     </div>
   

