<div class="pB"  *ngIf="progressBar.dynamicValue" >
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
 </div>

<div class="container p-2">

    <table class="table table-dark table-sm">
        <thead>
          <tr>
            <th scope="col">seq</th>
            <th scope="col">cat-Name</th>
            <th scope="col">description</th>
            <th scope="col">short-desc</th>
            <th scope="col">long-desc</th>
            <th scope="col">status</th>
            <th scope="col">remove</th>
            <th scope="col">update</th>

           
          </tr>
        </thead>
        <tbody >
          <tr  *ngFor="let rootData of rootCategoryData; let i = index">
            <th scope="row">{{i}}</th>
            <td>{{rootData.rootCategoryName}}</td>
            <td>{{rootData.description}}</td>
            <td>{{rootData.shortDescription}}</td>
            <td>{{rootData.longDescription}}</td>
            
            <mat-slide-toggle  [(ngModel)]="rootData.rootCategoryStatus">
            </mat-slide-toggle>
            
            <td scope="col">
                <i  (click)="removeRootCategory(rootData.productRootCategoryId)"  class="fa fa-trash-o text-danger cursor-pointer"></i>
            </td>

            <td>
              <a [routerLink]="'/dashboard/updateRootCategory/'+rootData.productRootCategoryId" routerLinkActive="active">
                    <i class="fa fa-pencil-square-o text-primary cursor-pointer text-decoration-none" style="font-size:16px"></i>
              </a>
            </td>
            
          </tr>
        </tbody>
      </table>

</div>