<div class="container p-5">
<h5 class="text-primary font-weight-bold">ADD PRODUCT</h5>

<!-- FORM SATRTING -->
<div >
   
    <form (ngSubmit)="saveProduct()" >

        <div class="form-row">
            <div class="form-group col-md-12">
                <label>Product Name</label>
                <input  type="text" 
                        required 
                        [(ngModel)]="addProduct.productName" name="productName"
                        class="form-control"
                        placeholder="Product Name">
             </div>
        </div>

      
        <div class="form-row">

          <div class="col-sm-4 my-1">
            <label>Manufacturing-Price</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-rupee"></i>
                </div>
              </div>
              <input type="text"
               class="form-control"
               [(ngModel)]="addProduct.manufacturingPrice" name="manufacturingPrice"
               id="inlineFormInputGroupUsername"
               placeholder="Username">
            </div>
          </div>


          <div class="col-sm-4 my-1">
            <label>MRP-Price</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-rupee"></i>
                </div>
              </div>
              <input type="text"
               class="form-control"
               [(ngModel)]="addProduct.mrpPrice" name="mrpPrice"
               id="inlineFormInputGroupUsername"
               placeholder="Username">
            </div>
          </div>

          <div class="col-sm-4 my-1">
            <label>SELL-Price</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-rupee"></i>
                </div>
              </div>
              <input type="text"
               class="form-control"
               [(ngModel)]="addProduct.sellPrice" name="sellPrice"
               id="inlineFormInputGroupUsername"
               placeholder="Username">
            </div>
          </div>

        </div>


        <div class="my-1 mt-3 mb-4">
          <label>Quantity</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-database"></i>
              </div>
            </div>
            <input type="text"
             class="form-control"
             [(ngModel)]="addProduct.quantity" name="quantity"
             id="inlineFormInputGroupUsername"
             placeholder="Quantity">
          </div>
        </div>
        

       <div class="container mb-3" id="pd-100">
        <h5 class="p-4 text-primary">Product Description</h5>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Description</label>
          <textarea 
          [(ngModel)]="addProduct.description" name="description"
          class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        
        <div class="form-group">
          <label for="exampleFormControlTextarea1">SHORT-Description</label>
          <textarea 
          [(ngModel)]="addProduct.shortDescription" name="shortDescription"
          class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <div class="form-group">
          <label for="exampleFormControlTextarea1">LONG-Description</label>
          <textarea 
          [(ngModel)]="addProduct.longDescription" name="longDescription"
          class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
       </div>


       <div class="container mb-3" id="pd-100">
        <h5 class="p-4 text-primary">Product Details</h5>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">product Details</label>
          <textarea 
          [(ngModel)]="addProduct.productDetails" name="productDetails"
          class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Product-Long-Details</label>
          <textarea 
          [(ngModel)]="addProduct.productLongDetails" name="productLongDetails"
          class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <div class="form-group">
          <label for="exampleFormControlTextarea1">Product-Short-Details</label>
          <textarea 
          [(ngModel)]="addProduct.productShortDetails" name="productShortDetails"
          class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
       </div>

    


        <button type="submit" class="btn btn-primary">Sign in</button>

       
      </form>

</div>
<!-- FORM ENDING -->

</div>
