<div class="pB"  *ngIf="progressBar.dynamicValue" >
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
 </div>
 
<div  style="background-color: whitesmoke;">
<div class="container p-5 shadow-lg">
<h5 class="text-primary font-weight-bold">ADD PRODUCT</h5>

<!-- FORM SATRTING -->
<div >
   
    <form (ngSubmit)="saveProduct()" >

        <div class="form-row">
            <div class="form-group col-md-12">
                <label>Product Name</label>
                <input  type="text" 
                        required="required"
                        [(ngModel)]="addProduct.productName" name="productName"
                        class="form-control"
                        placeholder="Product Name">
             </div>
        </div>

      
        <div class="form-row">

          <div class="col-sm-4 my-1">
            <label>Manufacturing-Price</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-rupee"></i>
                </div>
              </div>
              <input type="number"
               class="form-control"
               [(ngModel)]="addProduct.manufacturingPrice" name="manufacturingPrice"
               id="inlineFormInputGroupUsername"
               placeholder="Manufacturing-Price">
            </div>
          </div>


          <div class="col-sm-4 my-1">
            <label>MRP-Price</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-rupee"></i>
                </div>
              </div>
              <input type="number"
               class="form-control"
               [(ngModel)]="addProduct.mrpPrice" name="mrpPrice"
               id="inlineFormInputGroupUsername"
               placeholder="MRP-Price">
            </div>
          </div>

          <div class="col-sm-4 my-1">
            <label>SELL-Price</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-rupee"></i>
                </div>
              </div>
              <input type="number"
               class="form-control"
               [(ngModel)]="addProduct.sellPrice" name="sellPrice"
               id="inlineFormInputGroupUsername"
               placeholder="SELL-Price">
            </div>
          </div>

        </div>



        <div class="form-row">

          <div class="col-sm-4 my-1">
            <label>Product-Length</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-bookmark"></i>
                </div>
              </div>
              <input type="number"
               class="form-control"
               [(ngModel)]="addProduct.productLength" name="productLength"
               id="inlineFormInputGroupUsername"
               placeholder="Product-Length">
            </div>
          </div>


          <div class="col-sm-4 my-1">
            <label>Product-Width</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-bookmark"></i>
                </div>
              </div>
              <input  type="number"
               class="form-control"
               [(ngModel)]="addProduct.productWidth" name="productWidth"
               id="inlineFormInputGroupUsername"
               placeholder="Product-Width">
            </div>
          </div>

          <div class="col-sm-4 my-1">
            <label>Product-Height</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-bookmark"></i>
                </div>
              </div>
              <input type="number"
               class="form-control"
               [(ngModel)]="addProduct.productHeight" name="productHeight"
               id="inlineFormInputGroupUsername"
               placeholder="SELL-Price">
            </div>
          </div>

        </div>

        <div class="my-1 mt-3 mb-4">
          <label>Product-Weight</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-bookmark"></i>
              </div>
            </div>
            <input type="number"
             class="form-control"
             [(ngModel)]="addProduct.productWeight" name="productWeight"
             id="inlineFormInputGroupUsername"
             placeholder="Product Weight">
          </div>
        </div>


        
        <div class="my-1 mt-3 mb-4">
          <label>Quantity</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-database"></i>
              </div>
            </div>
            <input type="number"
             class="form-control"
             [(ngModel)]="addProduct.quantity" name="quantity"
             id="inlineFormInputGroupUsername"
             placeholder="Quantity">
          </div>
        </div>


        <div class="form-row">

          <div class="col-sm-2">
            <div class="form-check">
              <input class="form-check-input"
                 [(ngModel)]="addProduct.sizeXS" 
                 name="sizeXS" 
                 type="checkbox" 
                 value="" 
                 id="flexCheckDefault">
              <label class="form-check-label text-primary" for="flexCheckDefault">
                   SIZE-XS
              </label>
            </div>
          </div>


          <div class="col-sm-2">
            <div class="form-check">
              <input class="form-check-input"
                 [(ngModel)]="addProduct.sizeS" 
                 name="sizeS" 
                 type="checkbox" 
                 value="" 
                 id="flexCheckDefault">
              <label class="form-check-label text-primary" for="flexCheckDefault">
                   SIZE-S
              </label>
            </div>
          </div>


          <div class="col-sm-2">
            <div class="form-check">
              <input class="form-check-input"
                 [(ngModel)]="addProduct.sizeM" 
                 name="sizeM" 
                 type="checkbox" 
                 value="" 
                 id="flexCheckDefault">
              <label class="form-check-label text-primary" for="flexCheckDefault">
                   SIZE-M
              </label>
            </div>
          </div>


          <div class="col-sm-2">
            <div class="form-check">
              <input class="form-check-input"
                 [(ngModel)]="addProduct.sizeL" 
                 name="sizeL" 
                 type="checkbox" 
                 value="" 
                 id="flexCheckDefault">
              <label class="form-check-label text-primary" for="flexCheckDefault">
                   SIZE-L
              </label>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-check">
              <input class="form-check-input"
                 [(ngModel)]="addProduct.sizeXL" 
                 name="sizeXL" 
                 type="checkbox" 
                 value="" 
                 id="flexCheckDefault">
              <label class="form-check-label text-primary" for="flexCheckDefault">
                   SIZE-XL
              </label>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-check">
              <input class="form-check-input"
                 [(ngModel)]="addProduct.sizeXXL" 
                 name="sizeXXL" 
                 type="checkbox" 
                 value="" 
                 id="flexCheckDefault">
              <label class="form-check-label text-primary" for="flexCheckDefault">
                   SIZE-XXL
              </label>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-check">
              <input class="form-check-input"
                 [(ngModel)]="addProduct.size3XL" 
                 name="size3XL" 
                 type="checkbox" 
                 value="" 
                 id="flexCheckDefault">
              <label class="form-check-label text-primary" for="flexCheckDefault">
                   SIZE-3XL
              </label>
            </div>
          </div>

          </div>


          <hr>
            <!-- FOR SHOES -->
          <div class="form-row">

            <div class="col-sm-2">
              <div class="form-check">
                <input class="form-check-input"
                   [(ngModel)]="addProduct.uk4" 
                   name="uk4" 
                   type="checkbox" 
                   value="" 
                   id="flexCheckDefault">
                <label class="form-check-label text-primary" for="flexCheckDefault">
                  UK4
                </label>
              </div>
            </div>
  
  
            <div class="col-sm-2">
              <div class="form-check">
                <input class="form-check-input"
                   [(ngModel)]="addProduct.uk5" 
                   name="uk5" 
                   type="checkbox" 
                   value="" 
                   id="flexCheckDefault">
                <label class="form-check-label text-primary" for="flexCheckDefault">
                  UK5
                </label>
              </div>
            </div>
  
  
            <div class="col-sm-2">
              <div class="form-check">
                <input class="form-check-input"
                   [(ngModel)]="addProduct.uk6" 
                   name="uk6" 
                   type="checkbox" 
                   value="" 
                   id="flexCheckDefault">
                <label class="form-check-label text-primary" for="flexCheckDefault">
                  UK6
                </label>
              </div>
            </div>
  
  
            <div class="col-sm-2">
              <div class="form-check">
                <input class="form-check-input"
                   [(ngModel)]="addProduct.uk7" 
                   name="uk7" 
                   type="checkbox" 
                   value="" 
                   id="flexCheckDefault">
                <label class="form-check-label text-primary" for="flexCheckDefault">
                  UK7
                </label>
              </div>
            </div>
  
            <div class="col-sm-2">
              <div class="form-check">
                <input class="form-check-input"
                   [(ngModel)]="addProduct.uk8" 
                   name="uk8" 
                   type="checkbox" 
                   value="" 
                   id="flexCheckDefault">
                <label class="form-check-label text-primary" for="flexCheckDefault">
                  UK8
                </label>
              </div>
            </div>
  
            <div class="col-sm-2">
              <div class="form-check">
                <input class="form-check-input"
                   [(ngModel)]="addProduct.uk9" 
                   name="uk9" 
                   type="checkbox" 
                   value="" 
                   id="flexCheckDefault">
                <label class="form-check-label text-primary" for="flexCheckDefault">
                  UK9
                </label>
              </div>
            </div>
  
            <div class="col-sm-2">
              <div class="form-check">
                <input class="form-check-input"
                   [(ngModel)]="addProduct.uk10" 
                   name="uk10" 
                   type="checkbox" 
                   value="" 
                   id="flexCheckDefault">
                <label class="form-check-label text-primary" for="flexCheckDefault">
                  UK10
                </label>
              </div>
            </div>
  
            </div>
             <!-- FOR SHOES ENDING-->
  


        <div class="form-row">
        <div class="col-sm-7 my-1 mt-3 mb-4">
          <label>FINAL-CATEGORY</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-database"></i>
              </div>
            </div>

            <select name="finalCategoryId"  [(ngModel)]="selectedFinalCategoryId" class="custom-select" id="inlineFormCustomSelectPref">
              <option selected disabled>Choose...</option>
              <option *ngFor="let item of finalCategoryList"
                      [ngValue]="item.productFinalCategoryId">
                      {{item.productFinalCategoryId}} = {{item.finalCategoryName}} 
                      [SUB=>]{{item.productSubCategoryForm.subCategoryName}}
                      [ROOT=>]{{item.productSubCategoryForm.productRootCategoryForm.rootCategoryName}}
              </option>
            </select>

          </div>
        </div>
        
       </div>


       <div class="form-group">
        <mat-slide-toggle name="productStatus" [(ngModel)]="addProduct.productStatus">
        </mat-slide-toggle>
      </div>

       <div class="container mb-3" id="pd-100">
        <h5 class="p-4 text-primary">Product Description</h5>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Description</label>
          <textarea 
          [(ngModel)]="addProduct.description" name="description"
          class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
        </div>
        
        <div class="form-group">
          <label for="exampleFormControlTextarea1">SHORT-Description</label>
          <textarea 
          [(ngModel)]="addProduct.shortDescription" name="shortDescription"
          class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
        </div>

        <div class="form-group">
          <label for="exampleFormControlTextarea1">LONG-Description</label>
          <textarea 
          [(ngModel)]="addProduct.longDescription" name="longDescription"
          class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
        </div>
       </div>


       <div class="container mb-3" id="pd-100">
        <h5 class="p-4 text-primary">Product Details</h5>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">product Details</label>
          <textarea 
          [(ngModel)]="addProduct.productDetails" name="productDetails"
          class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
        </div>
        
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Product-Long-Details</label>
          <textarea 
          [(ngModel)]="addProduct.productLongDetails" name="productLongDetails"
          class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
        </div>

        <div class="form-group">
          <label for="exampleFormControlTextarea1">Product-Short-Details</label>
          <textarea 
          [(ngModel)]="addProduct.productShortDetails" name="productShortDetails"
          class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
        </div>
       </div>


     
    


       <div class="text-center">
        <button type="submit" class="btn btn-primary btn-sm">Create Product</button>
       </div>

       
      </form>

</div>
<!-- FORM ENDING -->

</div>
</div>