
<div class="pB"  *ngIf="progressBar.dynamicValue" >
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
   </div>
  
  
  <div class="container rootCategoryWidth mt-4">
    
      <h4 class="text-underline text-primary">update Root Category</h4>
     
      <mat-card>
  
          <form (ngSubmit)="updateRootCategory()">
  
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">categoryName</label>
                  <input type="text" 
                  [(ngModel)]="updateData.rootCategoryName"  name="rootCategoryName"
                   class="form-control"  placeholder="category Name">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">description</label>
                  <input  type="text"
                  [(ngModel)]="updateData.description" name="description" 
                   class="form-control" placeholder="description">
                </div>
              </div>
  
  
              <div class="form-group">
                  <label for="inputAddress">short Description</label>
                  <textarea type="text" 
                  [(ngModel)]="updateData.shortDescription" name="shortDescription" 
                  class="form-control"  placeholder="short Description"></textarea>
                </div>
  
              <div class="form-group">
                <label for="inputAddress">long Description</label>
                <textarea type="text" 
                [(ngModel)]="updateData.longDescription" name="longDescription" 
                class="form-control"  placeholder="long Description"></textarea>
              </div>

              <div class="form-group">
                <mat-slide-toggle name="rootCategoryStatus" [(ngModel)]="updateData.rootCategoryStatus">
                </mat-slide-toggle>
              </div>
             
              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" [(ngModel)]="checkbox.isChecked" name="isChecked" 
                  type="checkbox" id="gridCheck">
                  <label class="form-check-label" for="gridCheck">
                    Check me out
                  </label>
                </div>
              </div>
  
             <div>
              <button  mat-raised-button  color="primary">update Category</button>
             </div>
  
            </form>
  
      </mat-card>
  
  
  
  </div>