<div>

    <div class="container table-sm mt-4 p-2 shadow-lg ">
        <h5 class="text-primary font-weight-bolder underline ml-3">LINKING  -  FILES</h5>

        <table class="table table-hover" style="font-size: 10px;">
            <thead>
              <tr class="text-primary text-center">
                <th scope="col">ID</th>
                <th scope="col">P_ID</th>
                <th scope="col">PRODUCT</th>
                <th scope="col">MENU_PRICE</th>
                <th scope="col">MRP</th>
                <th scope="col">QUANTITY</th>
                <th scope="col">SELL_P</th>
                <th scope="col">DISCOUNT</th>
                <th scope="col">MAIN-THUM</th>
                <th scope="col">FILES</th>
                <th scope="col">STATUS</th>
                <!-- <th scope="col">LINK-IMAGES</th> -->

    
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of productList; let i = index">
                <th scope="row">{{i}}</th>
                <td>{{item.productId}}</td>
                <td>{{item.productName}}</td>
                <td>{{item.manufacturingPrice}}</td>
                <td>{{item.mrpPrice}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.sellPrice}}</td>
                <td>{{item.discountAvailable}}</td>

                <td>
                  <div *ngIf="item.thumbnailUrl != null ">
                    <div class="card-body" style="max-width: 110px;">
                      <img 
                        class="card-img-top" 
                        src="{{item.thumbnailUrl}}" 
                        alt="Card image cap">
                    </div>
                  
              </div>
            </td>

                <div class="form-group">
                  <mat-slide-toggle name="isEnabled" [(ngModel)]="item.enabled">
                  </mat-slide-toggle>
                </div>


                <td>
                    <a [routerLink]="'/dashboard/uploadproductFiles/'+item.productId" routerLinkActive="active">
                        <i class="fa fa-link text-primary cursor-pointer text-decoration-none ml-4" style="font-size:16px"></i>
                  </a>
                </td>

                <!-- <div >
                  <td *ngFor="let node of item.productFileUrls; let i = index" >

                    <tr>
                      <th><img src="{{node.fileUrl}}" alt="" class="rounded-circle" height="30" width="30"></th>
                    </tr>
                  
                  </td>
                </div> -->

    
              </tr>
              <tr>
                
            </tbody>
          </table>
    
    
    </div>

</div>