.anchorUnderline
{
    text-decoration: none;
}

.orderMan
{
    color: #000080;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.orderCol_color
{
    color: #DE3163;
}