
<div class="container mt-2 p-1">

    <div class="row text-center">
        <div class="col-sm-2">
            <h5  class="text-primary font-weight-bold">ROOT CATEGORY</h5>
                <mat-card  >
                    <a class="anchorUnderline" routerLink="createRootCategory">
                        <h5>Create Root Category</h5>
                    </a>
                    <a class="anchorUnderline" routerLink="showRootCategory">
                        <h5>show root category</h5>
                    </a>
                    <a class="anchorUnderline" routerLink="uploadFilesRootCategory">
                        <h5>upload Images</h5>
                    </a>
                </mat-card>
        </div>

        <div class="col-sm-2">
            <h5 class="text-primary font-weight-bold">SUB CATEGORY</h5>
            <mat-card >
                <a class="anchorUnderline" routerLink="createSubCategory">
                    <h5>Create Sub Category</h5>
                </a>
                <a class="anchorUnderline" routerLink="showSubCategory">
                    <h5>show sub category</h5>
                </a>
                <a class="anchorUnderline" routerLink="uploadFilesSubCategory">
                    <h5>upload Images</h5>
                </a>
            </mat-card>

        </div>


        <div class="col-sm-2">
            <h5 class="text-primary font-weight-bold">FINAL CATEGORY</h5>
            <mat-card >
                <a class="anchorUnderline" routerLink="createFinalCategory">
                    <h5>Create Final Category</h5>
                </a>
                <a class="anchorUnderline" routerLink="showFinalCategory">
                    <h5>show Final category</h5>
                </a>
                <a class="anchorUnderline" routerLink="uploadFilesFinalCategory">
                    <h5>upload Images</h5>
                </a>
            </mat-card>

        </div>


        <div class="col-sm-2">
            <h5  class="text-primary font-weight-bold"  >ADD PRODUCT</h5>
            <mat-card >
                <a class="anchorUnderline" routerLink="addProduct">
                    <h5>Add Product</h5>
                </a>
                <a class="anchorUnderline" routerLink="showProduct">
                    <h5>SHOW-PRODUCT</h5>
                </a>

                <a class="anchorUnderline" routerLink="linkFiles">
                    <h5>LINKING-IMAGE</h5>
                </a>
               
            </mat-card>

        </div>

        <div class="col-sm-2">

            <h5  class="text-primary font-weight-bold"  >BANNER-TYPE</h5>
            <mat-card >
                <a class="anchorUnderline" routerLink="createBannerType">
                    <h5>Add Banner-Type</h5>
                </a>
            </mat-card>


        </div>


        <div class="col-sm-2">

            <h5  class="text-primary font-weight-bold"  >BANNER</h5>
            <mat-card >
                <a class="anchorUnderline" routerLink="banner">
                    <h5>Add Banner</h5>
                </a>

                <a class="anchorUnderline" routerLink="showBanner">
                    <h5>Fetch Banner</h5>
                </a>
               
            </mat-card>


        </div>

        <div class="col-sm-2 mt-4">
            <h5  class="text-primary font-weight-bold"  >STRU-FINAL-CATEGORY</h5>
            <mat-card >
                <a class="anchorUnderline" routerLink="saveStructureFinalCategory_Single">
                    <h5>save SFC</h5>
                </a>

            </mat-card>
        </div>

        <div class="col-sm-2"></div>

    </div>

</div>


