<div class="pB"  *ngIf="progressBar.dynamicValue" >
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
   </div>
  
  
  <div class="container rootCategoryWidth mt-4">
    
      <h4 class="font-weight-bolder text-primary">SUB CATGORY</h4>
     
      <mat-card>
  
          <form (ngSubmit)="createSubCategory()">
  
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">categoryName</label>
                  <input type="text" 
                  [(ngModel)]="subCategoryForm.subCategoryName" name="rootCategoryName"
                   class="form-control"  placeholder="category Name">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">description</label>
                  <input  type="text"
                  [(ngModel)]="subCategoryForm.description" name="description" 
                   class="form-control" placeholder="description">
                </div>
              </div>
  
  
              <div class="form-group">
                  <label for="inputAddress">short Description</label>
                  <textarea type="text" 
                  [(ngModel)]="subCategoryForm.shortDescription" name="shortDescription" 
                  class="form-control"  placeholder="short Description"></textarea>
                </div>
  
              <div class="form-group">
                <label for="inputAddress">long Description</label>
                <textarea type="text" 
                [(ngModel)]="subCategoryForm.longDescription" name="longDescription" 
                class="form-control"  placeholder="long Description"></textarea>
              </div>

              <select name="rootCategoryId"  [(ngModel)]="selectedRootCategoryId" class="form-control form-control-sm mb-3 mt-1">
               
                <option *ngFor="let rootData of rootCategoryData" [ngValue]="rootData.productRootCategoryId" selected>
                    {{rootData.rootCategoryName}}
                </option>
              </select>



              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" [(ngModel)]="checkbox.isChecked" name="isChecked" 
                  type="checkbox" id="gridCheck">
                  <label class="form-check-label" for="gridCheck">
                    Check me out
                  </label>
                </div>
              </div>
  
             <div>
              <button  mat-raised-button  color="primary">SAVE SUB CATEGORY</button>
             </div>
            </form>
  
      </mat-card>
  
  
  
  </div>